body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    color: rgb(218, 46, 218);
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
}
h2{
    margin-bottom: 0;
}
p{
    margin-bottom: 40px;
}
.first-sec{
    margin-top: 80px;
    display: block;
    height: 500px;
}
.first-part{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    height: 500px;
}
img{
    width: 50%;
}
.hire-button{
    text-decoration: none;
    background-color: rgb(218, 46, 218);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.work-text{
    text-align: center;      
}
.client-say{
    font-size: 40px;
}
.client-name{
    font-size: 20px;
    margin-bottom: 0;
}
.client-position{
    margin-top: 0;
    color: gray;
}
.second-sec{
    display: block;
    height: 500px;
}
.work-img{
    width: 25%;
    margin: 0 auto;       
    padding: 1%;
    position: relative;
    left: 5%;
    
}
.img-div{
    height: 500px;
    margin: auto;
    width: 2000px;
        
}
.center-text{
    width: 20%;
    margin: auto;
}
.msg-button{
    width: 30%;
    background-image: linear-gradient(45deg, red, orange);
    border-radius: 10px; 
    margin: auto;
    margin-top: 30px;
   
}
.down-button{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-align: center;
}
.msg-last{
    margin-bottom: 0;
    font-size: 10px;
}
footer{
    text-align: center;
}
.four-sec{
    height: 500px;
}